.mainheading{
    text-align: center;
}
body{
    background:url("https://static.c9.io/nc-3.1.4109-2ffb85e2-wf/static/plugins/c9.profile/static/images/cloud9-logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width:100%;
    left:0;
    top:0;

}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 50%;
    
}
