.mainheading{
    text-align: center;
}
body{
    background:url("https://static.c9.io/nc-3.1.4109-2ffb85e2-wf/static/plugins/c9.profile/static/images/cloud9-logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width:100%;
    left:0;
    top:0;

}
button {
    background-color: red;
    color:white;
    
}
