.mainheading{
    text-align: center;
}
body{
    background:url("https://upload.wikimedia.org/wikipedia/en/thumb/8/83/Salesforce_logo.svg/1200px-Salesforce_logo.svg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width:100%;
    left:0;
    top:0;
}
button {
    background-color: red;
    color:white;
    
}