.mainheading{
    text-align: center;
}
body{
 background:url("https://pbs.twimg.com/media/DPATh-iX4AEmavc.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    min-height: 100%;
    width:100%;
    left:0;
    top:0;
    
}