.mainheading{
    text-align: center;
}
body{
    background:url("https://tse4.mm.bing.net/th?id=OIP.Ez9Qd2poCRJ6sv8V7poAggHaEo&pid=15.1&P=0&w=270&h=170");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width:100%;
    left:0;
    top:0;
}