.mainheading{
    text-align: center;
}
body{
    background:url("http://cdn.wallpapersafari.com/48/83/zs8pv7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width:100%;
    left:0;
    top:0;
}
