.mainheading{
    text-align: center;
}
body{
    background:url("https://s-media-cache-ak0.pinimg.com/originals/de/82/1e/de821ef469bb43d853deca96c5096b00.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width:100%;
    left:0;
    top:0;
}