.mainheading{
    text-align: center;
}
body{
    background:url("https://wallpapertag.com/wallpaper/full/1/a/1/350829-widescreen-website-background-1920x1080-windows-xp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width:100%;
    left:0;
    top:0;
}

a{
    margin-left: 1300px;
    margin-top: 200px;
    }
        p{
        color: Black;
    font-size: 200%; 
    font-family: helvetica;
    }